body {
  background-image: url("/public/background-pastel.webp");
  background-color: #cccccc;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;

  h1 {
    font-family: 'Parisienne', cursive;

    .material-symbols-outlined {
      font-size: 4rem;
    }
  }
  a {
    margin: 0 10px;
    color: rgb(45, 138, 184);
  }
}

.crepe-menu {
  ul {
    list-style-type: none;

    .menu-item {
      font-weight: bolder;
    }
  }
}